# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# DVC
**/*.dvc
.cache/
.dvc/cache/
.dvc/tmp/

# MLflow
mlruns/

# Artifacts
artifacts/
models/
*.pth
*.pt
*.ckpt

# Data
data/raw/
data/interim/
data/processed/
data/external/

# Environment
.env
*.env
.venv/
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# VSCode
.vscode/
